<div class="watup row">
<div id="mess" class="row">
		<div class="span7 offset1 info-mariage horaires">
			<h2>Messe Samedi 14 avril à 14:30</h2>
			<a href="<%= trajet_path %>"><h3>à l'Eglise Saint-Martin d'Argentan</h3></a>
		</div>
	</div>
	<div id="reception" class="row">
		<div class="span4 offset1 info-mariage horaires">
			<h2>Réception</h2>
			<h3>au Château de Canon</h3>
		</div>
	</div>
	<div id="brunch" class="row">
		<div class="span6 offset9 info-mariage horaires">
			<h2>Brunch le dimanche</h2>
			<h3>3, rue de l'Ormeau - 14700 Falaise</h3>
		</div>
	</div>
</div>
	