<div class="watup">
	<div id="messe" class="row">
		<div class="span7 offset4 info-mariage horaires">
			<h2>Messe à 15:30</h2>
			<a href="<%= trajet_path %>"><h3>à l'Eglise Notre-Dame De Magny En Vexin</h3></a>
		</div>
	</div>
	<div id="reception" class="row">
		<div class="span7 offset8 info-mariage horaires">
			<h2>Réception à 17h30</h2>
			<h3>au Château de Serans</h3>
		</div>
	</div>
</div>