

<div class="row">
	<div class="span8">
		<div class="page-header">
			<h2>Propositions</h2>
		</div>
		<div id="propositions">
			<%= render @proposition_covoiturages %>
		</div>
		<div id="proposer-form">
			<%= render 'shared/form_proposition' %>
		</div>
		<div id="buttons">
			<button id="proposer-button" class="btn primary">Proposer</button>
			<button id="annuler-button" class="btn">Annuler</button>
		</div>
	</div>
	<div class="span8">
		<div class="page-header">
			<h2>Demandes</h2>
		</div>
		<div id="demandes">
			<%# render @demande_covoiturages %>
		</div>
		<div id="demander">
			<%# render 'shared/form_proposition' %>
		</div>
	</div>
</div>
