<div class="liste">
	<div class="page-header">
				<h2>Liste</h2>
			</div>
	<div class="row">
		<div class="span16">
            <p>Vous pouvez trouver notre liste sur 
                <a href="http://mc-ch.lily-liste.com/">www.lilyliste.fr</a> (01.44.88.57.78) et <a href=" http://mc-et-ch.ameliste.fr">www.ameliste.fr</a> (09.79.94.50.01) !</p>
		</div>
	</div>
</div>
