<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
<section>
	<div class="page-header">
		<h1>Logement</h1>
	</div>
	
	<div class="row">
		<div id="map_logement" class="span10" style="height:500px;"></div>
	</div>
</section>
