<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
<div class="logement">
	<div class="page-header">
		<h2>Logement</h2>
	</div>
	<div class="row">
		<div class="span16">
			<h3>Cliquez sur les marqueurs pour obtenir plus d'informations!</h3>
		</div>
	</div>
	<div class="row">
		<div id="map_logement" class="span10" style="margin-top:5px;"></div>
	</div>
</div>
