
<div class="row">
	<div class="span7 presentation">
		<div class="page-header">
			<h2>Stéphanie</h2>
		</div>
		<div class="photo">
			<%= image_tag "steph-profil-reduced.jpg" %>
		</div>
		<div class="portrait-chinois">
			<p><strong><em>Si c’était un(e):</em></strong></p>
<p>
animal: un lama<br>
pays: le Mali<br>
objet: agenda<br>
sport: rando<br>
ville: Paris<br>
couleur: rouge<br>
musique: femme like you<br>
fleur: frésia<br>
endroit: zoo<br>
aliment: Ispahan<br>
fruit: orange<br>
saison: été<br>
film: Certains l'aiment chaud<br>
site internet : tripadvisor.com<br>
magasin: le Bon Marché<br>
bar: le petit café<br>
restaurant: le libanais du coin<br>
appli iphone : organizer<br>
</p>
		</div>
	</div>
	<div class="span7 offset1 presentation">
		<div class="page-header">
			<h2>Renaud</h2>
		</div>
		<div class="photo">
			<%= image_tag "renaud-profil-reduced.jpg" %>
		</div>
		<div class="portrait-chinois">
			<p><strong><em>Si c’était un(e):</em></strong></p>
<p>
animal: un zèbre !<br>
pays: Les USA<br>
objet: une pierre à feu <br>
sport: le roller<br>
ville: Ghéthary<br>
couleur: orange<br>
musique: Claire de Lune<br>
fleur: une rose d’un petit Paki<br>
endroit: le toit d’une pinasse près de Mopti<br>
aliment: un bon vieux quatre-quarts<br>
fruit: des fruits rouges picard dans un mixer<br>
saison: le printemps – bizarrement aime beaucoup la pluie<br>
film: la tour Montparnasse infernale<br>
site internet : windguru.com<br>
bar: Le petit café au Panthéon<br>
restaurant: Le petit libanais des sandwichs kefta<br>
magasin: le vieux campeur<br>
appli iphone : l’application pour savoir où se mettre sur le quai du métro pour sortir rapidement<br>
livre: plein de livres mais pas des romans<br>
</p>
		</div>
	</div>
</div>

