
<div class="row">
	<div class="span7 presentation">
		<div class="page-header">
			<h2>Marie-Caroline</h2>
		</div>
		<div class="photo">
			<%= image_tag "steph-profil-reduced.jpg" %>
		</div>
		<div class="portrait-chinois">
			<p><strong><em>Si cՎtait un(e):</em></strong></p>
<p>
</p>
		</div>
	</div>
	<div class="span7 offset1 presentation">
		<div class="page-header">
			<h2>Charles-Hubert</h2>
		</div>
		<div class="photo">
			<%= image_tag "renaud-profil-reduced.jpg" %>
		</div>
		<div class="portrait-chinois">
			<p><strong><em>Si cՎtait un(e):</em></strong></p>
<p>

</p>
		</div>
	</div>
</div>

