<section>
<div class="row">
	<div class="span8">
		<div class="page-header">
			<h2>Stéphanie</h2>
		</div>
		<div class="photo">
			<%= image_tag "steph-profil-reduced.jpg" %>
		</div>
		<div class="presentation">
			<p>Si c’était :
un animal : un lama
une application i-phone : organizer
un pays : le Mali
une fleur : frésia
un endroit : zoo
un aliment : Ispahan
un objet : agenda
un sport : rando
un fruit : orange
une ville : Paris
une couleur : rouge
une saison : été
un film : Certains l'aiment chaud
un site internet : trip-advisor
un magasin : le Bon Marché
une musique : femme like you (kamaro)
un bar : le petit café
un restaurant : le libanais du coin</p>
		</div>
	</div>
	<div class="span8">
		<div class="page-header">
			<h2>Renaud</h2>
		</div>
		<div class="photo">
			<%= image_tag "renaud-profil-reduced.jpg" %>
		</div>
		<div class="presentation">
			<p>Si c’était :

un animal : un zèbre !
une application i-phone : l’application pour savoir où se mettre sur le quai du métro pour sortir rapidement
un pays : Les USA
une fleur : une rose d’un petit Paki
un endroit : le toit d’une pinasse près de Mopti
un aliment : un bon vieux quatre-quarts
un objet : une pierre à feu 
un sport : le roller
un fruit : des fruits rouges picard dans un mixer
une ville : Ghéthary
une couleur : orange
une saison : le printemps – bizarrement Renaud aime beaucoup la pluie
un livre : plein de livres mais pas des romans
un film : la tour Montparnasse infernale
un site internet : windguru
un magasin : le vieux campeur
une musique : Claire de Lune
un bar : Le petit café au Panthéon
un restaurant : Le petit libanais des sandwichs kefta
</p>
		</div>
	</div>
</div>
</section>
