<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
<div class="trajet">
	<div class="page-header">
		<h2>Trajet</h2>
	</div>
	<div class="row">
		<div class="span16">
			<form id="form-trajet" class="form-stacked">
				<div class="clearfix">
					<label for="start">Entrez votre adresse de départ:</label>
					<div class="input">
						<input type="text" id="start" name="start" placeholder="Adresse" class="span5">
						<input type="submit" id="request-itinerary" class="btn primary" value="Afficher mon itinéraire">
						<button id="print-itinerary" class="btn success">Imprimer les instructions</button>
					</div>
					
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div id="map_trajet" class="span10"></div>
		<div id="directionsPanel" class="span4"></div>
	</div>
</div>