<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
<script type="text/javascript">
	
 </script>
<section>
	<div class="page-header">
		<h1>Trajet</h1>
	</div>
	<div class="row">
		<div class="span10">
		<form class="form-stacked">
			<div class="clearfix">
				<label for="start">Entrez votre adresse de départ:</label>
				<div class="input">
					<input type="text" id="start" name="start" placeholder="Adresse" class="xlarge">
					<input type="button" class="btn primary" value="Calculer" onclick="calcRoute();">
				</div>
				
			</div>
		</form>
		</div>
	</div>
	<div class="row">
		<div id="map_canvas" class="span8" style="height:500px;"></div>
		<div id="directionsPanel" class="span4" style="height:500px;"></div>
	</div>
</section>