@import 'twitter/bootstrap/variables';
@import 'twitter/bootstrap/mixins';

form {
	.clearfix {
		margin-bottom:9px;
	}
	.input {
		margin-left:128px;
	}
}

label {
	width:110px;
}

.proposition {
	
	border-bottom: 1px solid @gray;
	display: block;
	margin-bottom:20px;
	h4{line-height:22px;}
	.darker {
		color:@gray;
	}
	.proposition-important {
		display:block;
		float:left;
		.depart {
		}
		.places {
			clear:left;
		}
	}
	.proposition-contact {
		a,h4 {
			color:@blue;
		}
		display:block;
		float:right;
	}
	.proposition-annexe {
		display:block;
		clear:both;
		.name {
			color:@gray;
			font-size:0.75em;
		}
		.supprimer {
			float:right;
			padding-left:20px;
			a {
				color:@grayLight;
				font-size:0.75em;
			}
		}
	}
}

.buttons {
	margin-top:10px;
	text-align:center;
}



#proposer-form, #demander-form {
	display:none;
	margin-top:10px;
}

#annuler-proposer-button, #annuler-demander-button {
	display:none;
}