
<header>
	<div class="row">
		<div class="span10">
			<h1><%= title %></h1>
		</div>
	</div>
	<div class="row">
		<div class="span9">	
			<nav>
				<ul>
					<li><a href="#">Infos pratiques</a></li>
					<li><a href="#">Présentation</a></li>
					<li><a href="#">Trajet</a></li>
					<li><a href="#">Covoiturage</a></li>
					<li><a href="#">Logement</a></li>
					<li><a href="#">Liste</a></li>
					<li><a href="#">Photos</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
